[submodule "lib/vim-pathogen"]
	path = lib/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "lib/nerdtree"]
	path = lib/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "lib/syntastic"]
	path = lib/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "lib/vim-jsx"]
	path = lib/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "lib/vim-javascript"]
	path = lib/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
